<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <div class="container-fluid">
        <div class="grid">
            <div class="row">
                <div *ngFor="let product of products" class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <img class="card-img-top" [src]="product?.img" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{product?.name}}</h5>
                          <p class="card-text">{{product?.price | currency:'BRL'}}</p>
                          <p class="card-text">Estoque: {{product?.inventory}}</p>
                          <button type="button" class="btn btn-outline-dark" (click)="addToCart(product)"><b>Adicionar ao carrinho</b></button>
                          <button type="button" class="btn btn-outline-dark" [routerLink]="'/product-details'"><b>Detalhes</b></button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
